---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Shant Dashjian</title>
	</head>
	<body>
        <a href="/">Home</a>
		<a href="/about">About</a>
        <a href="/blog">Blog</a>
		<h1>About Me</h1>
        <p>I'm an experienced software engineer, Agile coach, and trainer with over 11 years of experience in development, mentoring, and
            training. I have a proven track record in using and teaching eXtreme Programming (XP) practices, Agile methodologies, and modern
            web development. I'm skilled in course development, training development and delivery, and code reviews.</p>
	</body>
</html>
