---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap"
			rel="stylesheet"
		/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Shant Dashjian</title>
	</head>
	<body>
		<style>
			body {
				font-family: "Source Code Pro", monospace;
			}
		</style>
		<h1>Shant Dashjian</h1>
		<p>
			Hi! I'm Shant and I enjoy programming and teaching. I'm a
			mentor at <a href="https://www.scrimba.com/" target="_blank"
				>Scrimba</a
			>.
		</p>
		<ul>
			<li>
				<a
					href="https://www.linkedin.com/in/shantdashjian/"
					target="_blank">LinkedIn Profile</a
				>
			</li>
			<li>
				<a href="https://github.com/shantdashjian" target="_blank"
					>GitHub</a>
			</li>
		</ul>
	</body>
</html>
