---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap"
			rel="stylesheet"
		/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Shant Dashjian</title>
	</head>
	<body>
		<style>
			body {
				font-family: "Source Code Pro", monospace;
			}
		</style>
		<h1>Shant Dashjian</h1>
		<p>
			Hi! I'm Shant and I enjoy programming and teaching. I'm a
			teacher at <a href="https://www.scrimba.com/" target="_blank"
				>Scrimba</a
			>.
		</p>
		<ul>
			<li>
				Book a mentoring session with me at <a href="https://procodingmentor.com"
				target="_blank">Pro Coding Mentor</a>
			</li>
			<li>
				Take my AI course <a
					href="https://www.coursera.org/learn/intro-to-claude-ai"
					target="_blank">Intro to Claude on Coursera</a
				>, <a
				href="https://v2.scrimba.com/claude-ai-c09gsmkso3"
				target="_blank">Scrimba</a
			>, and <a
			href="https://www.youtube.com/watch?v=QfJB9d0J3Iw"
			target="_blank">freeCodeCamp.org's YouTube Channel</a
		>.
			</li>
			<li>
				Connect with me on <a
					href="https://www.linkedin.com/in/shantdashjian/"
					target="_blank">LinkedIn</a
				>
			</li>
			<li>
				Check out my portfolio on <a href="https://github.com/shantdashjian" target="_blank"
					>GitHub</a>
			</li>
			<li>
				Learn with me on my <a href="https://www.youtube.com/@shantdashjian" target="_blank"
					>YouTube Channel</a>
			</li>
		</ul>
	</body>
</html>
